{% extends 'base.html.twig' %}

{% block title %}Course - {{course.title}}{% endblock %}

{% block body %}

<h1>{{course.title}}</h1>
<p>{{course.subject}}</p>
<p>{{course.published|date('d/m/Y')}}</p>
<p>{{course.content}}</p>
<a href="/update-course/{{course.id}}" class="btn btn-secondary">Modify</a>
<a href="/remove-course/{{course.id}}" class="btn btn-danger">Remove</a>
{% endblock %}